{% load static %}
<div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {% for article in articles %}
                    <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'blog:detail' article.slug %}">
                        <h2 class="post-title">{{ article.title|safe }}</h2>
                    </a>
                    <h3 class="post-subtitle">{{ article.content|truncatewords:15|safe }}</h3>
                    <p class="post-meta">
                        نوشته شده توسط
                        <a href="{% url 'blog:author-article' article.author.username %}">{{ article.author.get_full_name }}</a>
                        در تاریخ {{ article.publish_date }}
                    </p>
                </div>
                    <div>
                    {% for cat in article.get_active_categories %}
                        <a href="{% url 'blog:category-article' cat.slug %}"># {{ cat.title }}</a>
                    {% endfor %}

                    </div>
                <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}
                <!-- Pager-->
                {% include 'blog/partials/pagination_partial.html' with page_obj=page_obj %}
            </div>
        </div>
    </div>